<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>welcome to </title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-primary mb-5">
      <div class="container-fluid">
        <a class="navbar-brand" href="homepage.html"><b>AIRLINES</b></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
              <a class="nav-link" href="Flights.html"><b>Flights</b></a>
            </li>
              <li class="nav-item">
              <a class="nav-link" href="Tickets.html"><b>Tickets</b></a>
            </li>
              <li class="nav-item">
              <a class="nav-link" href="Users.html"><b>Log In/Sign In</b></a>
            </li>
        </div>
      </div>
    </nav>
<form action="http://127.0.0.1/login" method="POST">
    <p> USERNAME <input type = "text" name = "username" required/> </p>
    <p> PASSWORD <input type = "password" name = "password" required/> </p>
    <p> REAL ID <input type = "text" name = "realId" required/> </p>
    <button type="submit"> LOG IN </button>
    <p></p>
    <p></p>
</form>
<form action="http://127.0.0.1/login" method="GET">
    <button type="submit" >SIGHNUP </button>
</form>
</body>
</html>